.icon.user:before{background-position: 0px -0px}
.icon-big.user:before{background-position: 0px -0px}
.icon.logout:before{background-position: 0px -24px}
.icon-big.logout:before{background-position: 0px -92px}
.icon.message:before{background-position: 0px -48px}
.icon-big.message:before{background-position: 0px -184px}
.icon.i-edit:before{background-position: 0px -72px}
.icon-big.i-edit:before{background-position: 0px -276px}
.icon.i-tag-remove:before{background-position: 0px -96px}
.icon-big.i-tag-remove:before{background-position: 0px -368px}
.icon.change:before{background-position: 0px -120px}
.icon-big.change:before{background-position: 0px -460px}
.icon.warning:before{background-position: 0px -144px}
.icon-big.warning:before{background-position: 0px -552px}
.icon.error:before{background-position: 0px -168px}
.icon-big.error:before{background-position: 0px -644px}
.icon.save-do:before{background-position: 0px -192px}
.icon-big.save-do:before{background-position: 0px -736px}
.icon.camera:before{background-position: 0px -216px}
.icon-big.camera:before{background-position: 0px -828px}
.icon.delete:before{background-position: 0px -240px}
.icon-big.delete:before{background-position: 0px -920px}
.icon.delivery:before{background-position: 0px -264px}
.icon-big.delivery:before{background-position: 0px -1012px}
.icon.sell:before{background-position: 0px -288px}
.icon-big.sell:before{background-position: 0px -1104px}
.icon.manufacture:before{background-position: 0px -312px}
.icon-big.manufacture:before{background-position: 0px -1196px}
.icon.invoice:before{background-position: 0px -336px}
.icon-big.invoice:before{background-position: 0px -1288px}
.icon.user:before{background-position: 0px -360px}
.icon-big.user:before{background-position: 0px -1380px}
.icon.attach:before{background-position: 0px -384px}
.icon-big.attach:before{background-position: 0px -1472px}
.icon.row-delete:before{background-position: 0px -408px}
.icon-big.row-delete:before{background-position: 0px -1564px}
.icon.row-edit:before{background-position: 0px -432px}
.icon-big.row-edit:before{background-position: 0px -1656px}
.icon.row-open:before{background-position: 0px -456px}
.icon-big.row-open:before{background-position: 0px -1748px}
.icon.filter:before{background-position: 0px -480px}
.icon-big.filter:before{background-position: 0px -1840px}
.icon.clear:before{background-position: 0px -504px}
.icon-big.clear:before{background-position: 0px -1932px}
.icon.i-function:before{background-position: 0px -528px}
.icon-big.i-function:before{background-position: 0px -2024px}
.icon.i-calendar:before{background-position: 0px -552px}
.icon-big.i-calendar:before{background-position: 0px -2116px}
.icon.printer:before{background-position: 0px -576px}
.icon-big.printer:before{background-position: 0px -2208px}
.icon.save:before{background-position: 0px -600px}
.icon-big.save:before{background-position: 0px -2300px}
.icon.checked:before{background-position: 0px -624px}
.icon-big.checked:before{background-position: 0px -2392px}
.icon.product:before{background-position: 0px -648px}
.icon-big.product:before{background-position: 0px -2484px}
.icon.globe:before{background-position: 0px -672px}
.icon-big.globe:before{background-position: 0px -2576px}
.icon.timezone:before{background-position: 0px -696px}
.icon-big.timezone:before{background-position: 0px -2668px}
.icon.globe-wire:before{background-position: 0px -720px}
.icon-big.globe-wire:before{background-position: 0px -2760px}
.icon.customer:before{background-position: 0px -744px}
.icon-big.customer:before{background-position: 0px -2852px}
.icon.shipper:before{background-position: 0px -768px}
.icon-big.shipper:before{background-position: 0px -2944px}
.icon.edit:before{background-position: 0px -792px}
.icon-big.edit:before{background-position: 0px -3036px}
.icon.archive:before{background-position: 0px -816px}
.icon-big.archive:before{background-position: 0px -3128px}
.icon.settings:before{background-position: 0px -840px}
.icon-big.settings:before{background-position: 0px -3220px}
.icon.number:before{background-position: 0px -864px}
.icon-big.number:before{background-position: 0px -3312px}
.icon.weight:before{background-position: 0px -888px}
.icon-big.weight:before{background-position: 0px -3404px}
.icon.text-align-center:before{background-position: 0px -912px}
.icon-big.text-align-center:before{background-position: 0px -3496px}
.icon.text-align-justify:before{background-position: 0px -936px}
.icon-big.text-align-justify:before{background-position: 0px -3588px}
.icon.text-align-left:before{background-position: 0px -960px}
.icon-big.text-align-left:before{background-position: 0px -3680px}
.icon.text-align-right:before{background-position: 0px -984px}
.icon-big.text-align-right:before{background-position: 0px -3772px}
.icon.text-bold:before{background-position: 0px -1008px}
.icon-big.text-bold:before{background-position: 0px -3864px}
.icon.text-horizontalrule:before{background-image:url(../images/icons/text-horizontalrule.svg);}
.icon.text-indent:before{background-image:url(../images/icons/text-indent.svg);}
.icon.text-italic:before{background-position: 0px -1032px}
.icon-big.text-italic:before{background-position: 0px -3956px}
.icon.text-list-bullets:before{background-position: 0px -1056px}
.icon-big.text-list-bullets:before{background-position: 0px -4048px}
.icon.text-list-numbers:before{background-position: 0px -1080px}
.icon-big.text-list-numbers:before{background-position: 0px -4140px}
.icon.text-strikethrough:before{background-position: 0px -1104px}
.icon-big.text-strikethrough:before{background-position: 0px -4232px}
.icon.text-subscript:before{background-position: 0px -1128px}
.icon-big.text-subscript:before{background-position: 0px -4324px}
.icon.text-superscript:before{background-position: 0px -1152px}
.icon-big.text-superscript:before{background-position: 0px -4416px}
.icon.text-underline:before{background-position: 0px -1176px}
.icon-big.text-underline:before{background-position: 0px -4508px}
.icon.link-add:before{background-position: 0px -1200px}
.icon-big.link-add:before{background-position: 0px -4600px}
.icon.page-paste:before{background-position: 0px -1224px}
.icon-big.page-paste:before{background-position: 0px -4692px}
.icon.image:before{background-position: 0px -1248px}
.icon-big.image:before{background-position: 0px -4784px}
.icon.video:before{background-position: 0px -1272px}
.icon-big.video:before{background-position: 0px -4876px}
.icon.arrow-undo:before{background-position: 0px -1296px}
.icon-big.arrow-undo:before{background-position: 0px -4968px}
.icon.arrow-redo:before{background-position: 0px -1320px}
.icon-big.arrow-redo:before{background-position: 0px -5060px}
.icon.source:before{background-position: 0px -1344px}
.icon-big.source:before{background-position: 0px -5152px}
.icon.fullscreen:before{background-position: 0px -1368px}
.icon-big.fullscreen:before{background-position: 0px -5244px}
.icon.cart:before{background-position: 0px -1392px}
.icon-big.cart:before{background-position: 0px -5336px}
.icon.cms:before{background-position: 0px -1416px}
.icon-big.cms:before{background-position: 0px -5428px}
.icon.group:before{background-position: 0px -1440px}
.icon-big.group:before{background-position: 0px -5520px}
.icon.article:before{background-position: 0px -1464px}
.icon-big.article:before{background-position: 0px -5612px}
.icon.store:before{background-position: 0px -1488px}
.icon-big.store:before{background-position: 0px -5704px}
.icon.store-transfer:before{background-position: 0px -1512px}
.icon-big.store-transfer:before{background-position: 0px -5796px}
.icon.revision:before{background-position: 0px -1536px}
.icon-big.revision:before{background-position: 0px -5888px}
.icon.customer-group:before{background-position: 0px -1560px}
.icon-big.customer-group:before{background-position: 0px -5980px}
.icon.user-group:before{background-position: 0px -1584px}
.icon-big.user-group:before{background-position: 0px -6072px}
.icon.mail:before{background-position: 0px -1608px}
.icon-big.mail:before{background-position: 0px -6164px}
.icon.money-euro:before{background-position: 0px -1632px}
.icon-big.money-euro:before{background-position: 0px -6256px}
.icon.language:before{background-position: 0px -1656px}
.icon-big.language:before{background-position: 0px -6348px}
.icon.firm:before{background-position: 0px -1680px}
.icon-big.firm:before{background-position: 0px -6440px}
.icon.order:before{background-position: 0px -1704px}
.icon-big.order:before{background-position: 0px -6532px}
.icon.chart:before{background-position: 0px -1728px}
.icon-big.chart:before{background-position: 0px -6624px}
.icon.application-view-list:before{background-position: 0px -1752px}
.icon-big.application-view-list:before{background-position: 0px -6716px}
.icon.coupon:before{background-position: 0px -1776px}
.icon-big.coupon:before{background-position: 0px -6808px}
.icon.tag-yellow:before{background-position: 0px -1800px}
.icon-big.tag-yellow:before{background-position: 0px -6900px}
.icon.attribute:before{background-position: 0px -1824px}
.icon-big.attribute:before{background-position: 0px -6992px}
.icon.page-white-picture:before{background-position: 0px -1848px}
.icon-big.page-white-picture:before{background-position: 0px -7084px}
.icon.page-white-acrobat:before{background-position: 0px -1872px}
.icon-big.page-white-acrobat:before{background-position: 0px -7176px}
.icon.page-white-excel:before{background-position: 0px -1896px}
.icon-big.page-white-excel:before{background-position: 0px -7268px}
.icon.page-white-word:before{background-position: 0px -1920px}
.icon-big.page-white-word:before{background-position: 0px -7360px}
.icon.page-white-zip:before{background-position: 0px -1944px}
.icon-big.page-white-zip:before{background-position: 0px -7452px}
.icon.page-white-put:before{background-position: 0px -1968px}
.icon-big.page-white-put:before{background-position: 0px -7544px}
.icon.add:before{content:'+';background:none;font-size:16px;}
.icon.controls-last:before{content:'››';background:none;font-size:24px;color:#CDCDCD;line-height:21px;}
.icon.controls-first:before{content:'‹‹';background:none;font-size:24px;color:#CDCDCD;line-height:21px;}
.icon.controls-previous:before{content:'‹';background:none;font-size:24px;color:#CDCDCD;line-height:21px;}
.icon.controls-next:before{content:'›';background:none;font-size:24px;color:#CDCDCD;line-height:21px;}
.icon:before{background-image:url(../images/blackp-icons.svg);background-size:24px 1992px;}
.icon-big:before{background-image:url(../images/blackp-icons.svg);background-size:92px 7636px;}