* {margin:0px; padding:0px; outline:0px;font-size:12px;font-family:verdana,arial;}
img {border:0px;}
body,html {
    height:100%;
}
body {
    overflow:hidden;
    background:#CBCBCB;
    /* @alternate */
    background:-moz-radial-gradient(50% 20%, circle, #CBCBCB, #535353);
    /* @alternate */
    background:-webkit-gradient(radial, 50% 20%, 0, 50% 50%, 1000, from(#CBCBCB), to(#535353));
}
div.container {
    padding-top:100px;
}
div.login {
    width:400px;
    margin:auto;
    color:#FFFFFF;
    -moz-box-shadow: 0px 0px 8px #0E0E0E;
    -webkit-box-shadow: 0px 0px 8px #0E0E0E;
    box-shadow: 0px 0px 8px #0E0E0E;
}
div.login_head {
    background:#000000 url(../images/logo.png) no-repeat;
    background-position:10px 50%;
    height:40px;
    line-height:40px;
    padding-left:40px;
    font-weight:bold;
    overflow:hidden;
    position:relative;
}
div.login_head span {
    position:absolute;
    right:0px;
    top:0px;
    padding-right:20px;
}
div.login_input {
    background:#E1E1E1;
    color:#28292E;
    overflow:hidden;
    border-top:none;
}
div.login_input p {
    text-align:center;
}
table {
    margin:auto;
    margin-top:20px;
}
table td {
    padding:10px;
}
table td.icon {
    height:35px;
    font-weight:bold;
    text-align: right;
    color:#666666;
    padding-left:30px;
}
div.login_input td#login_username {
    background:url(../images/login_username.png) no-repeat;
    background-position: 50% 50%;
}
div.login_input td#login_password {
    background:url(../images/login_password.png) no-repeat;
    background-position: 50% 50%;
}
input.input {
    width:300px;
    padding:10px;
    border:1px solid #CDCDCD;
    -webkit-box-shadow:0 0 5px #E1E1E1 inset; 
   -moz-box-shadow:0 0 5px #E1E1E1 inset; 
    box-shadow:0 0 5px #E1E1E1 inset; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#F9F9F9;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
input:focus {
    background:#FFFFFF;
    -webkit-box-shadow:0 0 0px #E1E1E1 inset; 
   -moz-box-shadow:0 0 0px #E1E1E1 inset; 
    box-shadow:0 0 0px #E1E1E1 inset;
}
input.button {
    width:70px;
    padding:10px 5px 10px 5px;
    margin-bottom:5px;
    font-weight:bold;
    color:#FFFFFF;
    background:#000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
}
div.support {
    color:#FFFFFF;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:380px;
    text-align:right;
}
div.support p {
    margin-bottom:10px;
}
div.support img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
    /* @alternate */
    filter: url(desaturate.svg#greyscale);
    /* @alternate */
    filter: gray;
}