.user:before{background-image:url(../images/icons/16/user.png);}
.user-group:before{background-image:url(../images/icons/16/user_group.png);}
.coupon:before{background-image:url(../images/icons/16/coupon.png);}
.attribute:before{background-image:url(../images/icons/16/attribute.png);}
.option:before{background-image:url(../images/icons/16/option.png);}
.article:before{background-image:url(../images/icons/16/article.png);}
.box:before{background-image:url(../images/icons/16/box.png);}
.store:before{background-image:url(../images/icons/16/store.png);}
.store-transfer:before{background-image:url(../images/icons/16/store_transfer.png);}
.group:before{background-image:url(../images/icons/16/group.png);}
.product:before{background-image:url(../images/icons/16/product.png);}
.brick:before{background-image:url(../images/icons/16/bricks.png);}
.service:before{background-image:url(../images/icons/16/service.png);}
.serial:before{background-image:url(../images/icons/16/serial.png);}
.revision:before{background-image:url(../images/icons/16/revision.png);}
.move:before{background-image:url(../images/icons/16/move.png);}
.delete:before{background-image:url(../images/icons/16/delete.png);}
.row-delete:before{background-image:url(../images/icons/16/delete.png);}
.visible:before{background-image:url(../images/icons/16/visible.png);}
.image:before{background-image:url(../images/icons/16/picture_add.png);}
.customer:before{background-image:url(../images/icons/16/customer.png);}
.customer-group:before{background-image:url(../images/icons/16/customer_group.png);}
.shipper:before{background-image:url(../images/icons/16/shipper.png);}
.delivery:before{background-image:url(../images/icons/16/lorry.png);}
.add:before{background-image:url(../images/icons/16/add.png);}
.merge:before{background-image:url(../images/icons/16/merge.png);}
.change:before{background-image:url(../images/icons/16/refresh.png);}
.edit:before{background-image:url(../images/icons/16/edit.png);}
.row-open:before{background-image:url(../images/icons/16/edit.png);}
.row-edit:before{background-image:url(../images/icons/16/edit.png);}
.edit2:before{background-image:url(../images/icons/16/edit2.png);}
.manufacture:before{background-image:url(../images/icons/16/manufacture.png);}
.invoice:before{background-image:url(../images/icons/16/invoice.png);}
.archive:before{background-image:url(../images/icons/16/archive.png);}
.filter:before{background-image:url(../images/icons/16/filter.png);}
.clear:before{background-image:url(../images/icons/16/clear.png);}
.save:before{background-image:url(../images/icons/16/save.png);}
.checked:before{background-image:url(../images/icons/16/save.png);}
.cms:before{background-image:url(../images/icons/16/cms.png);}
.chart:before{background-image:url(../images/icons/16/chart.png);}
.save-do:before{background-image:url(../images/icons/16/disk.png);}
.date:before{background-image:url(../images/icons/16/date.png);}
.barcode:before{background-image:url(../images/icons/16/barcode.png);}
.settings:before{background-image:url(../images/icons/16/settings.png);}
.order:before{background-image:url(../images/icons/16/order.png);}
.offer:before{background-image:url(../images/icons/16/offer.png);}
.world:before{background-image:url(../images/icons/16/world.png);}
.city:before{background-image:url(../images/icons/16/city.png);}
.address:before{background-image:url(../images/icons/16/address.png);}
.phone:before{background-image:url(../images/icons/16/phone.png);}
.mail:before{background-image:url(../images/icons/16/mail.png);}
.time:before{background-image:url(../images/icons/16/clock.png);}
.sell:before{background-image:url(../images/icons/16/sell.png);}
.help:before{background-image:url(../images/icons/16/help.png);}
.video:before{background-image:url(../images/icons/16/film_add.png);}
.attention:before{background-image:url(../images/icons/16/attention.png);}
.firm:before{background-image:url(../images/icons/16/firm.png);}
.tag-yellow:before{background-image:url(../images/icons/16/tag_yellow.png);}
.money-euro:before{background-image:url(../images/icons/16/money_euro.png);}
.timezone:before{background-image:url(../images/icons/16/timezone.png);}
.language:before{background-image:url(../images/icons/16/language.png);}
.number:before{background-image:url(../images/icons/16/number.png);}
.weight:before{background-image:url(../images/icons/16/weight.png);}
.controls-last:before{background-image:url(../images/icons/16/controls_last.png);}
.controls-first:before{background-image:url(../images/icons/16/controls_first.png);}
.controls-previous:before{background-image:url(../images/icons/16/controls_previous.png);}
.controls-next:before{background-image:url(../images/icons/16/controls_next.png);}
.nav-left:before{background-image:url(../images/icons/16/arrow_prev.png);}
.nav-right:before{background-image:url(../images/icons/16/arrow_next.png);}
.folder:before{background-image:url(../images/ui/editor/folder.png);}
.folder-add:before{background-image:url(../images/ui/editor/folder_add.png);}
.folder-go:before{background-image:url(../images/ui/editor/folder_go.png);}
.folder-edit:before{background-image:url(../images/ui/editor/folder_edit.png);}
.folder-delete:before{background-image:url(../images/ui/editor/folder_delete.png);}
.text-align-center:before{background-image:url(../images/ui/editor/text_align_center.png);}
.text-align-justify:before{background-image:url(../images/ui/editor/text_align_justify.png);}
.text-align-left:before{background-image:url(../images/ui/editor/text_align_left.png);}
.text-align-right:before{background-image:url(../images/ui/editor/text_align_right.png);}
.text-bold:before{background-image:url(../images/ui/editor/text_bold.png);}
.text-horizontalrule:before{background-image:url(../images/ui/editor/text_horizontalrule.png);}
.text-indent:before{background-image:url(../images/ui/editor/text_indent.png);}
.text-indent-remove:before{background-image:url(../images/ui/editor/text_indent_remove.png);}
.text-italic:before{background-image:url(../images/ui/editor/text_italic.png);}
.text-list-bullets:before{background-image:url(../images/ui/editor/text_list_bullets.png);}
.text-list-numbers:before{background-image:url(../images/ui/editor/text_list_numbers.png);}
.text-strikethrough:before{background-image:url(../images/ui/editor/text_strikethrough.png);}
.text-subscript:before{background-image:url(../images/ui/editor/text_subscript.png);}
.text-superscript:before{background-image:url(../images/ui/editor/text_superscript.png);}
.text-underline:before{background-image:url(../images/ui/editor/text_underline.png);}
.style-delete:before{background-image:url(../images/ui/editor/style_delete.png);}
.page-paste:before{background-image:url(../images/ui/editor/page_paste.png);}
.page-copy:before{background-image:url(../images/ui/editor/page_copy.png);}
.link-break:before{background-image:url(../images/ui/editor/link_break.png);}
.link-add:before{background-image:url(../images/ui/editor/link_add.png);}
.cut:before{background-image:url(../images/ui/editor/cut.png);}
.arrow-undo:before{background-image:url(../images/ui/editor/arrow_undo.png);}
.arrow-redo:before{background-image:url(../images/ui/editor/arrow_redo.png);}
.image-add:before{background-image:url(../images/ui/editor/image_add.png);}
.printer:before{background-image:url(../images/ui/editor/printer.png);}
.application-double:before{background-image:url(../images/ui/editor/application_double.png);}
.tag:before{background-image:url(../images/ui/editor/tag.png);}
.cart:before{background-image:url(../images/icons/16/cart.png);}
.plus:before{background-image:url(../images/icons/16/plus.png);}
.minus:before{background-image:url(../images/icons/16/minus.png);}
.application-view-list:before{background-image:url(../images/icons/16/application_view_list.png);}
.attach:before{background-image:url(../images/icons/16/attach.png);}
.page-white-acrobat:before{background-image:url(../images/icons/16/page_white_acrobat.png);}
.page-white-excel:before{background-image:url(../images/icons/16/page_white_excel.png);}
.page-white-picture:before{background-image:url(../images/icons/16/page_white_picture.png);}
.page-white-put:before{background-image:url(../images/icons/16/page_white_put.png);}
.page-white-text:before{background-image:url(../images/icons/16/page_white_text.png);}
.page-white-word:before{background-image:url(../images/icons/16/page_white_word.png);}
.page-white-zip:before{background-image:url(../images/icons/16/page_white_zip.png);}
.i-calendar:before{background-image:url(../images/icons/16/calendar.png);}
.i-edit:before{background-image:url(../images/icons/16/edit3.png);}
.i-function:before{background-image:url(../images/icons/16/menu.png);}
.i-tag-remove:before{background-image:url(../images/icons/16/remove.png);}