.article-64:before{background-image:url(../images/icons/64/article.png);}
.archive-64:before{background-image:url(../images/icons/64/archive.png);}
.product-64:before{background-image:url(../images/icons/64/product.png);}
.store-64:before{background-image:url(../images/icons/64/store.png);}
.box-64:before{background-image:url(../images/icons/64/box.png);}
.brick-64:before{background-image:url(../images/icons/64/bricks.png);}
.attribute-64:before{background-image:url(../images/icons/64/attribute.png);}
.option-64:before{background-image:url(../images/icons/64/option.png);}
.customer-64:before{background-image:url(../images/icons/64/customer.png);}
.customer-group-64:before{background-image:url(../images/icons/64/customer_group.png);}
.shipper-64:before{background-image:url(../images/icons/64/shipper.png);}
.manufacture-64:before{background-image:url(../images/icons/64/manufacture.png);}
.revision-64:before{background-image:url(../images/icons/64/revision.png);}
.delivery-64:before{background-image:url(../images/icons/64/delivery.png);}
.sell-64:before{background-image:url(../images/icons/64/sell.png);}
.invoice-64:before{background-image:url(../images/icons/64/invoice.png);}
.offer-64:before{background-image:url(../images/icons/64/offer.png);}
.cms-64:before{background-image:url(../images/icons/64/cms.png);}
.order-64:before{background-image:url(../images/icons/64/order.png);}
.firm-64:before{background-image:url(../images/icons/64/firm.png);}